.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; 갯수만큼 컬럼수 */
    /* grid-template-columns: 50px auto auto;  지정한 넓이만큼 컬럼 길이 변화 */
    grid-template-columns: 20% 50% 30%; 
    gap: 10px;
}

.grid-item-second-main {
    display: grid;
    grid-template-columns: auto auto auto;
}