/* 하위 자손 모두 */
/* div p {
    background-color: yellow;
} */

/* 하위 자식 모두 */
/* div > p {
    background-color: brown;
} */

/* sibling */
/* div와 같은 선상에서 다음에 나오는 첫번째 p를 선택 */
div + p {
    background-color: blueviolet;
}

/*div와 같은 선상에 있는 p 모두를 선택 */
div ~ p {
    background-color: chocolate;
}